.modalWrapper {
  width: 100%;
  /* border: 1px solid blue; */
  border-radius: 30px;
}
.userInfo {
  /* border-bottom: 1px solid rgb(147, 147, 164); */
  padding: 20% 0;
  height: 35%;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  background-color: rgb(216, 235, 231);
  z-index: 9999;
  position: relative;
}
.modalEventButton {
  width: 100px;
  height: 40px;
  /* border-radius: 30px; */
  margin: 0 30px 30px 0;
  position: relative;
  background-color: rgb(238, 149, 149);
  color: rgb(138, 63, 63);
  border-radius: 20px;
  transform: translate(-180px, -20px);
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  opacity: 0.7;
}
.modalEventButton a {
  /* border: 1px solid blue; */
  color: rgb(138, 63, 63);
  transform: translate(1px, 10px);
}
.userEmail {
  margin-right: 50px;
  /* text-decoration: underline; */
  font-weight: bold;
  color: rgb(69, 72, 72);
}
.userInfoBtn {
  border-radius: 10px;
  border: 1px solid rgb(213, 213, 223);
  opacity: 0.8;
  width: 100px;
  font-family: Verdana, sans-serif;
  position: relative;
  height: 40px;
  font-size: 12px;
  background-color: rgb(249, 249, 249);
  transform: translate(-5px, -4px);
  outline: none;
}
.userInfoBtn a {
  font-weight: 100;
  transform: translateY(10px);
  color: rgb(63, 44, 44);
  display: block;
  height: 100%;
}

.nav {
  display: flex;
  height: 200px;

  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.logout {
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  background-color: rgb(225, 238, 232);
  /* border: 1px solid blue; */
  transform: translateY(-30px);
  height: 55%;
}
.logoutBtn {
  font-family: Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 0;
  width: 250px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transform: translate(-25px, -30px);
  opacity: 0.8;
  border: 1px solid rgb(209, 209, 216);
  height: 35px;
  outline: none;
}
.logoutBtn a {
  font-weight: 100;
  transform: translateY(9px);
  text-align: center;
  color: rgb(70, 67, 67);
  display: block;
  height: 100%;
}
.logo {
  background: url("../logo.png") no-repeat;
  /* border: 1px solid blue; */
  width: 300px;
  height: 200px;
  position: absolute;
  transform: translate(130px, 30px);
  cursor: pointer;
}
.modal {
  width: 300px;
  height: 300px;
  /* border: 1px solid blue; */
  position: absolute;
  transform: translate(-5px, 260px);
  border-radius: 30px;
  background-color: rgb(250, 250, 250);
  z-index: 9999;
}
