ul {
  padding: 5px 0 5px 15px;
  margin: 5px 0 0;
  list-style: none;
}

.footer-container {
  position: relative; /*position fixed 하면 스크롤 내릴때 푸터 고정 됨*/
  display: block;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #f0f0f0;
  text-align: center;
}

.inner-foot {
  overflow: hidden;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 0 51px;
  background-color: black;
}

.content-bookshare {
  float: left;
  padding: 50px 0 0 55px;
}

.name-maker {
  cursor: pointer;
}

.title-footer {
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  color: white;
}

.desc-footer {
  color: #909090;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px 0 0;
  text-align: left;
}

.info-maker {
  float: right;
  width: 736px;
  padding: 75px 60px 0 0;
  text-align: left;
  color: white;
  display: flex;
}

.click-makerInfo {
  flex: 25%;
  float: left;
  width: 160px;
  padding-left: 24px;
  color: white;
}

.link-txt {
  display: block;
  font-size: 16px;
  color: white;
  line-height: 30px;
}

@media screen and (max-width: 992px) {
  .click-makerInfo {
    flex-direction: column;
  }

  .info-maker {
    flex-direction: column;
    padding: 75px 60px 0 0;

    height: 150px;
  }
  .name-maker {
    margin-top: 10px;
  }
}
